@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {

    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #080C24;
    --color-dark: #0E153D;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;
    --color-gray-4: #F6F6F6;
    --color-product-instock: #82D8C6;
    --color-product-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}

/* general */
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}

.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

    .btn-theme:hover {
        background-color: var(--color-theme-dark);
        color: var(--color-white)
    }

.btn-white {
    background-color: var(--color-white);
    color: var(--color-theme);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

    .btn-white:hover {
        background-color: var(--color-theme-dark);
        color: var(--color-white)
    }

.btn-dark {
    background-color: var(--color-theme-dark);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border: none;

    }
    
        .btn-dark:hover {
            background-color: var(--color-white);
            color: var(--color-theme-dark);
            
        }


.bg-theme {
    background-color: var(--color-theme);
}

.text-theme {
    color: var(--color-theme);
}

.instock {
    color: var(--color-product-instock);
}

.outofstock {
    color: var(--color-product-outofstock);
}

.section-title {
    padding: 3rem 0;
    color: var(--color-theme-dark);
    text-align: center;
}

    .section-title h1 {
        font-family: var(--font-play);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-36);
    }

        .section-title h1 span {
            color: var(--color-theme);
        }

    .section-title p {
        margin: 1rem 0;
    }



/* main-menu - top */

.main-menu .top-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;
}

    .main-menu .top-menu > .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }



        .main-menu .top-menu .site-settings {
            display: flex;
        }
            
                
            .main-menu .top-menu .site-settings .dropdown-theme {
                background-color: var(--color-theme);
                color: var(--color-white);
                    }
    
                .main-menu .top-menu .site-settings .dropdown-theme .dropdown-menu {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    width: 250px;  
                    margin-top: 3rem;  
                }
    
                .main-menu .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item {
                    background-color: var(--color-theme);
                    width: 250px;
                    border: none;
                    width: 100%;
                    margin: 0;    
                }
    
                .main-menu .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item:hover {
                    background-color: var(--color-theme-dark);
                    color: var(--color-white)
                }
                
    
                .main-menu .top-menu .site-settings .dropdown-theme button {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    padding: 0;

                }
        
                .main-menu .top-menu .site-settings .dropdown-theme button:hover {
                    color: var(--color-theme-dark);
                }

        .main-menu .top-menu a {
            color: var(--color-white);
            text-decoration: none;
            margin: 0 1.2rem;
        }

            .main-menu .top-menu .top-menu-links a:hover {
                color: var(--color-theme-dark);
            }

            .main-menu .top-menu .top-menu-links .social-media {
                margin-left: 1rem;
                font-size: var(--font-size-14);
            }

                .main-menu .top-menu .top-menu-links .social-media a {
                    margin: 0 0.3rem;
                }

                    .main-menu .top-menu .top-menu-links .social-media a:last-child {
                        margin: 0 0 0 0.3rem;
                    }

/* main-menu mid */

.main-menu {
    background-color: var(--color-white);
    color: var(--color-theme-dark)
}

    .main-menu .mid-menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    .main-menu .brand {
        flex: 2;
    }

    .main-menu .search {
        flex: 4;
    }

    .main-menu .mid-menu .links .icons a {
        flex: 3;
        display: flex;
        justify-content: end;
        align-items: center;
        
    }
        .main-menu .mid-menu .links .icons {
            text-decoration: none;
            color: var(--color-theme-dark);
            margin: 0 0.8rem;

        }

        .main-menu .mid-menu .links .icons:hover {
         
            color: var(--color-theme);            
        }

        .main-menu .mid-menu .links .icons:last-child {
            margin: 0 0 0 0.8rem;
        }

        .main-menu .mid-menu .links .icons:first-child {
            margin: 0 2.4rem 0 0;
        }

            .main-menu .mid-menu .links .icons i {
                font-size: var(--font-size-16);
            }

            .main-menu .mid-menu .links #cart {
                position: relative;
            }

                .main-menu .mid-menu .links #cart .badge {
                    position: absolute;
                    top: -1.2rem;
                    left: 0.7rem;
                }

                    .main-menu .mid-menu .links #cart:hover .badge {
                        background-color: var(--color-theme-dark);
                    }

/* main-menu bot */

.main-menu .bot-menu {
    border-top: 1px solid var(--color-gray-2);
    border-bottom: 1px solid var(--color-gray-2);
}
    .main-menu .bot-menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .main-menu .bot-menu .browse-categories .dropdown {
        flex: 2;
        
    }

        .main-menu .bot-menu .browse-categories .dropdown button {
            background-color: var(--color-theme);
            color: var(--color-white);
            border: none;
            font-size: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.7rem 1rem;
            transition: 0.15s ease-in-out;
        }

            .main-menu .bot-menu .browse-categories .dropdown button:hover {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
                
            }

            .main-menu .bot-menu .browse-categories .dropdown button span {
                display: flex;
                align-items: center;
            }

            .main-menu .bot-menu .browse-categories .dropdown button > span i {
                font-size: 1.4em;
            }

        .main-menu .bot-menu .special-offer {
            flex: 7;
            display: flex;
            justify-content: end;
            align-items: center;
        }

/* showcase */
.showcase {
    background-color: var(--color-gray-3);
}

    .showcase .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .showcase .showcase-body h1 {
            font-family: var(--font-play);
            font-size: var(--font-size-60);
        }

            .showcase .showcase-body h1 strong {
                font-weight: var(--font-weight-bold);
                color: var(--color-theme);
            }

/* webshop-info */
.webshop-info {
    padding: 4rem 0;
}

    .webshop-info .container {
        max-width: 1600px;
        display: flex;
        justify-content: space-evenly;
        
    }

    .webshop-info .info-box {
        background-color: var(--color-theme-light);
        padding: 1rem;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        flex: 1;
        border-radius: var(--border-radius-small);
        transition: all 0.3s ease-in-out;
    }

        .webshop-info .info-box:hover {
            background-color: var(--color-theme);
            color: var(--color-white)
        }

        .webshop-info .info-box img {
            margin-right: 1.5rem;
            filter: brightness(100%);
            transition: all 0.3s ease-in-out;
        }

            .webshop-info .info-box:hover img {
                filter: brightness(1000%);
            } 

        .webshop-info .info-box h1 {
           color: var(--color-theme);
           font-size: 1rem;
           font-weight: var(--font-weight-medium);
           transition: all 0.3s ease-in-out;
        }

            .webshop-info .info-box:hover h1 {
                color: var(--color-white);
            }

/* shop-by-category */
   .shop-by-category .grid {
        display: grid;
        gap: 0.8rem;
        grid-template-columns: repeat(5, minmax(100px, 249px));
        grid-template-rows: repeat(3, minmax(100px, 249px));
    }

    .shop-by-category .category-box {
        position: relative;
        background-color: var(--color-gray-1);
        border-radius: var(--border-radius-small);
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

      .shop-by-category .category-box .category-box-title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        border-radius: 0 var(--border-radius-small) 0 0;
        background-color: var(--color-theme-dark);
        color: var(--color-theme);
        padding: 0.5rem 1rem;
        font-weight: var(--font-weight-medium);
        height: 35px;
        transition: 0.3s ease-in-out;
      }

         .shop-by-category .category-box:hover .category-box-title {
            height: 75px;
         }

            .shop-by-category .category-box .category-box-title span {
                display: block;
                color: var(--color-white);
                font-size: 0.8rem;
                margin-top: 0.5rem;
            }

#category-box-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#category-box-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
#category-box-3 {
    grid-column: 4 / -1;
    grid-row: 1 / 3;
}
#category-box-4 {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
}
#category-box-5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
#category-box-6 {
    grid-column: 3 / 5;
    grid-row: 3 / -1;
}
#category-box-7 {
    grid-column: 5 / -1;
    grid-row: 3 / -1;
}

/* new-arrivals */
.new-arrivals {
    padding-top: 2rem;
}

    .new-arrivals .card {
        position: relative;
        margin-left: 3.5rem;
        height: 380px;
        width: 320px;
        overflow: hidden;
    }

    .new-arrivals .card img {
        height: 400px;
    }

    .new-arrivals .card .card-body {
        position: absolute;
        padding: 1rem;
        bottom: 0;
        height: 14%;
        width: 100%;
        color: var(--color-white);
        z-index: 1;
        transition: 0.3s ease-in-out;
        font-size: 1rem;
    }
        .new-arrivals .card:hover .card-body {
            height: 40%;
        }

        .new-arrivals .card .card-body h1 {
            font-size: 1.125rem;
            margin-bottom: 1rem;
            transition: 0.3s ease-in-out;
            font-weight: var(--font-weight-regular);
        }

            .new-arrivals .card:hover .card-body h1 {
                margin-bottom: 0;
            }

            .new-arrivals .card .card-body .card-old-price {
                text-decoration: line-through;
                margin: 0;
            }

            .new-arrivals .card .card-body .card-discount-price {
                color: var(--color-theme);
                font-weight: var(--font-weight-medium);
                font-size: 1.5em;
                margin: 0;
            }

            .new-arrivals .card .card-body button {
                background-color: transparent;
                color: var(--color-white);
                border: 1px solid var(--color-white);
                font-size: 0.875rem;
                padding-left: 0.9rem;
                padding-right: 0.9rem;
                margin: 0.5rem 0;
            } 

    .new-arrivals .card .card-backround {
        position: absolute;
        bottom: 0;
        height: 15%;
        width: 100%;
        background-color: var(--color-theme-dark);
        opacity: 0.9;
        transition: height 0.3s ease-in-out;
    }

    .new-arrivals .card:hover .card-backround {
        height: 100%;
    }

    .new-arrivals .card .card-menu {
        position: absolute;
        z-index: 1;
        top: 121%;
        right: 1rem;
        list-style: none;
        padding: 0.8rem;
        font-size: 1.25rem;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-white);
        transition: top 0.3s ease-in-out;
    }
        .new-arrivals .card:hover .card-menu {
            top: 20px;          
        }

            .new-arrivals .card .card-menu li {
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
                font-size: 1em;
            }

                .new-arrivals .card .card-menu li a {
                    color: var(--color-gray-0);

                }
                    .new-arrivals .card .card-menu li a:hover {
                        color: var(--color-theme);
                    }

/* newcustomer-deals */
.newcustomer-deals {
    background-color: var(--color-gray-1);
}

    .newcustomer-deals .container {
    margin-top: 8rem;
    height: 420px;
    justify-content: space-between;
    display: flex;
    }

        .newcustomer-deals .offer {
            background-color: var(--color-theme);
            color: var(--color-white);
            margin-left: 3.6rem;
            padding-top: 7rem;
            padding-left: 1.5rem;
            height: 100%;
            width: 15rem;
            
        }

            .newcustomer-deals .offer h1 {
                font-weight: var(--font-weight-bold);
                font-family: var(--font-roboto);
                font-size: 4rem;
            }

            .newcustomer-deals .offer h2 {
                font-weight: var(--font-weight-bold);
                font-family: var(--font-roboto);
                font-size: var(--font-size-24);
                padding-top: 2rem;
                padding-left: 1rem;
            }

            .newcustomer-deals .offer p {
                font-size: 1rem;
                padding-left: 1rem;
            }

            .newcustomer-deals .offer .btn {
                margin-left: 1.5rem;
                transition: 0.15s ease-in-out;
            }


        .newcustomer-deals .learn-more {
            color: var(--color-white);
            font-size: 1.5;
            font-family: var(--font-roboto);
            width: 34rem;
            padding-top: 7rem;
        }

        .newcustomer-deals .learn-more .btn {
            transition: 0.15s ease-in-out;

        }

/* featured-products */

.featured-products {
    padding-top: 2rem;
}

    .featured-products .card {
        position: relative;
        margin-left: 3.5rem;
        height: 380px;
        width: 320px;
        overflow: hidden;
    }

    .featured-products .card img {
        height: 370px;
        padding-bottom: 3.55rem;

    }

    .featured-products .card .card-body {
        position: absolute;
        padding: 1rem;
        bottom: 0;
        height: 14%;
        width: 100%;
        color: var(--color-white);
        z-index: 1;
        transition: 0.3s ease-in-out;
        font-size: 1rem;
    }
        .featured-products .card:hover .card-body {
            height: 40%;
        }

        .featured-products .card .card-body h1 {
            font-size: 1.125rem;
            margin-bottom: 1rem;
            transition: 0.3s ease-in-out;
            font-weight: var(--font-weight-regular);
        }

            .featured-products .card:hover .card-body h1 {
            margin-bottom: 0;
            }

            .featured-products .card .card-body .card-old-price {
                text-decoration: line-through;
                margin: 0;
            }

            .featured-products .card .card-body .card-discount-price {
                color: var(--color-theme);
                font-weight: var(--font-weight-medium);
                font-size: 1.5em;
                margin: 0;
            }

            .featured-products .card .card-body button {
                background-color: transparent;
                color: var(--color-white);
                border: 1px solid var(--color-white);
                font-size: 0.875rem;
                padding-left: 0.9rem;
                padding-right: 0.9rem;
                margin: 0.5rem 0;
            } 

    .featured-products .card .card-backround {
        position: absolute;
        bottom: 0;
        height: 15%;
        width: 100%;
        background-color: var(--color-theme-dark);
        opacity: 0.9;
        transition: height 0.3s ease-in-out;
    }

    .featured-products .card:hover .card-backround {
        height: 100%;
    }

    .featured-products .card .card-menu {
        position: absolute;
        z-index: 1;
        top: 121%;
        right: 1rem;
        list-style: none;
        padding: 0.8rem;
        font-size: 1.25rem;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-white);
        transition: top 0.3s ease-in-out;
    }
        .featured-products .card:hover .card-menu {
            top: 20px;          
        }

            .featured-products .card .card-menu li {
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
                font-size: 1em;
            }

                .featured-products .card .card-menu li a {
                    color: var(--color-gray-0);

                }
                    .featured-products .card .card-menu li a:hover {
                        color: var(--color-theme);
                    }

/* flash-sale */
.flash-sale {
    background-color: var(--color-dark);
}

    .flash-sale .container {
        position: relative;
        height: 435px;
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
    }

    .flash-sale .offer {
        background-color: var(--color-theme);
        color: var(--color-white);
        height: 265px;
        width: 255px;
        margin-left: 3.5rem;
        text-align: center;
    }

        .flash-sale .offer h1 {
            font-size: 3.5rem;
            font-weight: var(--font-weight-bold);
            padding-top: 2rem;
        }

        .flash-sale .offer p {
            font-size: 1.3rem;
        }

    .flash-sale .countdown {
        position: absolute;
        right: 1.9rem;
        margin-top: 6rem;
    }

        .flash-sale .countdown .dot {
            height: 110px;
            width: 110px;
            align-items: center;
            background-color: var(--color-white);
            margin: 1.2rem;
            padding-top: 1rem;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            border-color: var(--color-theme);
            border-style: outset;

        }

            .flash-sale .countdown .dot h1 {
                color: var(--color-theme);
                margin: 0;
                font-weight: var(--font-weight-bold);
            }

        .flash-sale .countdown .btn {
            margin-top: 1rem;
            margin-left: 14rem;
        }

/* top-sellers */

.top-sellers .grid {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(4, minmax(100px, 295px));
    grid-template-rows: repeat(2, minmax(100px, 295px));
    padding-top: 2rem;
    padding-left: 3.2rem;
}

.top-sellers .top-sellers-box {
    position: relative;
    background-color: var(--color-gray-3);
    border-radius: var(--border-radius-small);
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#top-sellers-box-1 {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}
#top-sellers-box-2 {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
}
#top-sellers-box-3 {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
}

    .top-sellers .top-sellers-box img {
        height: 100%;
        width: 100%;
    }

    .top-sellers .top-sellers-box .box-title {
        position: absolute;
        background-color: var(--color-dark);
        color: var(--color-white);
        opacity: 0.85;
        overflow: hidden;
        width: 100%;
        height: 12%;
        bottom: 0;
        padding-left: 2rem;
        padding-top: 1.5rem;
        transition: 0.3s height ease-in-out;

    }

    .top-sellers .top-sellers-box:hover .box-title {
        height: 100%;

    }

        .top-sellers .top-sellers-box .box-title h1 {
            font-size: 1.125rem;
            transition: 0.3s ease-in-out;
            font-weight: var(--font-weight-regular);
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .top-sellers .top-sellers-box:hover .box-title h1 {    
            margin-bottom: 0;
            padding-bottom: 1rem;
            margin-top: 73%;
        }

        .top-sellers .top-sellers-box .box-title button {
            background-color: transparent;
            color: var(--color-white);
            border: 1px solid var(--color-white);
            font-size: 0.875rem;
            padding-left: 0.9rem;
            padding-right: 0.9rem;
            padding-top: 0;
            margin-bottom: 0.5rem;

        }

        .top-sellers .top-sellers-box .box-title .old-price {
            font-size: var(--font-size-16);
            text-decoration: line-through;
            margin: 0;
        }

        .top-sellers .top-sellers-box .box-title .discount-price {
            font-size: var(--font-size-24);
            color: var(--color-theme);
            margin-bottom: 0;
            transition: 0.3s ease-in-out;
            justify-content: space-between;
            display: flex;

        }

        .top-sellers .top-sellers-box .box-title .discount-price .star-rating {
            padding-right: 2rem;
            font-size: var(--font-size-18);
        }

        .top-sellers .top-sellers-box .box-title h1 {
            font-family: var(--font-roboto);
            font-size: var(--font-size-18);
            font-weight: none;
            padding-bottom: 2rem;
        }

    .top-sellers .top-sellers-box .box-menu {
        position: absolute;
        right: 2rem;
        list-style: none;
        padding: 0.8rem;
        font-size: 1.25rem;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-white);
        transition: top 1s ease-in-out;
    }

    .top-sellers .top-sellers-box:hover .box-menu {
        top: 20px;
        transition: top 2s ease-in-out;
    }

    .top-sellers .top-sellers-box .box-menu li {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            font-size: 1em;
        }

        .top-sellers .top-sellers-box .box-menu li a {
                color: var(--color-gray-0);

            }
                .top-sellers .top-sellers-box .box-menu li a:hover {
                    color: var(--color-theme);
                }

/* smaller grid-boxes */

.top-sellers .top-sellers-box-small {
    position: relative;
    background-color: var(--color-gray-3);
    border-radius: var(--border-radius-small);
    overflow: hidden;
    height: 100%;
    width: 100%;
}

    .top-sellers .top-sellers-box-small .box-title {
    position: absolute;
    background-color: var(--color-dark);
    color: var(--color-white);
    opacity: 0.85;
    overflow: hidden;
    width: 100%;
    height: 20%;
    bottom: 0;
    padding-left: 1rem;
    padding-top: 1.2rem;
    transition: 0.3s height ease-in-out;
    }

    .top-sellers .top-sellers-box-small:hover .box-title {
        height: 100%;
    }

        .top-sellers .top-sellers-box-small .box-title h1 {
            font-size: 1.2rem;
            font-weight: var(--font-weight-regular);
            padding-bottom: 0.5rem;
            transition: 0.3s ease-in-out;
        }

        .top-sellers .top-sellers-box-small:hover .box-title h1 {
            padding-top: 8.5rem;
        }

        .top-sellers .top-sellers-box-small .box-title button {
            background-color: transparent;
            color: var(--color-white);
            border: 1px solid var(--color-white);
            font-size: 0.875rem;
            padding-left: 0.9rem;
            padding-right: 0.9rem;
            padding-top: 0;
            margin-bottom: 0.5rem;
        }

        .top-sellers .top-sellers-box-small .box-title .old-price {
            text-decoration: line-through;
            margin: 0;
            padding: 0;
        }

        .top-sellers .top-sellers-box-small .box-title .discount-price {
            color: var(--color-theme);
            font-size: 1.7rem;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            display: flex;
        }

             .top-sellers .top-sellers-box-small .box-title .discount-price .star-rating {
                padding-right: 1.5rem;
                font-size: 1.3rem;
             }

.top-sellers .top-sellers-box-small .box-menu {
    position: absolute;
    right: 2rem;
    list-style: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-white);
    transition: top 1s ease-in-out;
}

    .top-sellers .top-sellers-box-small:hover .box-menu {
        top: 20px;
        transition: top 2s ease-in-out;
    }

    .top-sellers .top-sellers-box-small .box-menu li {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-size: 1em;
    }

    .top-sellers .top-sellers-box-small .box-menu li a {
            color: var(--color-gray-0);

        }
            .top-sellers .top-sellers-box-small .box-menu li a:hover {
                color: var(--color-theme);
            }

